*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(350px, 1fr) 4fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar{
    background-color: rgb(29, 116, 93);
    color: white;
    grid-row: 1/-1;
    padding: 25px;
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    gap: 60px;
}

.header{
    background-color: white;
    box-shadow: 0px 4px 7px rgba(48, 88, 48, 0.212);
    z-index: 1;
    padding: 25px 50px;
    display: grid;
    gap: 30px;
}

.main{
    background-color: rgb(233, 237, 233);
    display: grid;
    gap: 25px;
    grid-template-columns: 3fr 1fr;
    padding: 25px;
}

.branding{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
    height: 50px;
}

.logo{
    height: 50px;
    width: 50px;
    background-color: rgb(36, 144, 115);
    border-radius: 5px;
}

.brandname{
    display: grid;
    align-items: center;
    font-size: 30px;
    font-weight: 900;
}

.opt-grp{
    display: grid;
    gap: 15px;
}

.option{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 28px;
    padding-left: 10px;
}

.option-icon{
    background-color: rgb(36, 144, 115);
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.option-text{
    display: grid;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
}



.hrow-1{
    display: grid;
    grid-template-columns: auto minmax(300px, 60%) 1fr auto auto auto;
    gap: 25px;
    height: 50px;
}

.icon{
    background-color: rgb(36, 144, 115);
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.search-icon{
    background-color: #dee;
}

.search-bar{
    border: none;
    outline: none;
    background-color: #dee;
    border-radius: 25px;
    height: 35px;
    padding-left: 15px;
    font-size: 1.1rem;
}

.notification-icon{
    grid-column: 4/5;
    background-color: #dee;
    place-self: center;    
}

.profile-icon{
    grid-column: 5/6;
    width: 50px;
    height: 50px;
    background-color: rgb(226, 187, 79);
}

.username{
    grid-column: 6/7;
    place-self: center;    
    font-weight: 600;
    font-size: 20px;
}

.hrow-2{
    display: grid;
    grid-template-columns: 1fr 1fr;    
}

.greeting-container{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    column-gap: 25px;
    row-gap: 6px;
}

.profile-icon-large{
    height: 80px;
    width: 80px;
    grid-row: 1/3;
    grid-column: 1/2;
}

.greeting{
    grid-row: 1/2;
    font-weight: 600;
    font-size: 14px;
    align-self: end;
}

.name-and-id{
    grid-row: 2/3;
    font-size: 25px;
    font-weight: 800;
}

.buttons-container{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: end;
    align-items: center;
    gap: 40px;
}

.btn{
    background-color: rgb(36, 144, 115);
    width: 120px;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    padding: 12px 0;
    border-radius: 50px;
    color: #fff;
}

.projects, .announcements, .trending{
    display: grid;
    gap: 20px;
    align-content: start;
}

.projects{
    grid-row: 1/3;
}

.announcements{
    grid-column: 2/3;
}

.trending{
}

.main-title{
    font-size: 22px;
    font-weight: 800;
}

.projects-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.project-card{
    background-color: white;
    box-shadow: 2px 2px 6px rgba(39, 39, 39, 0.11);
    border-radius: 10px;
    padding: 25px;
    display: grid;
    gap: 20px;
    border-left: 8px solid rgb(41, 165, 132);
}

.project-title{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}

.project-description{
    color: #888;
    font-size: 17px;
}

.project-options .icon{
    background-color: #ddd;
    height: 25px;
    width: 25px;
}

.project-options{
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    gap: 20px;
}

.announcements-grid{
    box-shadow: 2px 2px 6px rgba(39, 39, 39, 0.11);
    background-color: white;
    display: grid;
    align-self: stretch;
    padding: 15px 30px;
    border-radius: 10px;
}

.trending-grid{
    background-color: white;
    display: grid;
    align-self: stretch;
}

.announcement-card{
    border-bottom: 1px solid #ccc;
    padding: 20px 0px;
}

.announcement-card:last-child{
    border: none;
}

.announcement-title{
    font-weight: 600;
    margin-bottom: 5px;
}

.announcement-text{
    color: #888;
    font-size: 14px;
}

.trending-grid{
    box-shadow: 2px 2px 6px rgba(39, 39, 39, 0.11);
    border-radius: 10px;
    padding: 25px;
    display: grid;
    gap: 25px;
}

.trending .icon{
    background-color: rgb(226, 187, 79);
    height: 40px;
    width: 40px;
    grid-row: 1/-1;
}

.trend{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    display: grid;
    row-gap: 3px;
    column-gap: 15px;
}

.trend-id{
    font-weight: 600;
}

.trend-name{
    color: #888;
    font-size: 14px;
}